* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color:white;
    line-height: 1.5;
}
h1, h2,h3, p {
    margin: 0;
}
header { 
    padding: 15px 6% 15px 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: aqua;
}
header h1 {
    color: blue;
    background-color: black;
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 4vw;
    line-height: 1;
}
header nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: blue;
    margin-right: 10px;
}
.foodie{ width: 4%; height: 40px;}
.project-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.surf.jpeg{ width: 4%; height: 40px;}
.project-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
    .tripdog-3.jpeg{ width: 4%; height: 40px;}
    .project-label{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;

    }
    body {
        background-image: url("./Space1.jpeg"); /* Set a background image */
        background-size: cover; /* Adjust the image size to cover the entire background */
        background-position: center; /* Center the background image */
        background-repeat: no-repeat; /* Prevent the background image from repeating */
      }


header {
  background-color: #f1f1f1; /* Set a background color */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
  }